In [ ]:
import data_dag as dd
import pandas as pd

In [ ]:
test_df = pd.read_csv("mtcars.txt")

In [ ]:
df2 = dd.Df2(test_df, lazy=True)

In [ ]:
l = df2.__filter__("mpg == 21")
l(test_df)

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.9,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.9,2.875,17.02,0,1,4,4

In [ ]:
l2 = df2.read_csv("mtcars.txt").__select__("mpg","cyl")
l2(test_df).head()

    mpg  cyl
0  21.0    6
1  21.0    6
2  22.8    4
3  21.4    6
4  18.7    8

In [ ]:
l3 = df2.read_csv("mtcars.txt").__summarize__()

TypeError: __summarize__() takes 0 positional arguments but 1 was given

In [ ]:
l3